In [1]:
import tweepy
import sys
import os
import re
import string 

import time
import csv
from textblob import TextBlob
auth = tweepy.AppAuthHandler("0q42FevFlZHyuxHyewTT3jEgf", "kzq6n4xQKv3a0tNRNhSAN7cm6nwUyjqpiEobkyF39hMcT3VhCj")

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

if (not api):
    print ("Can't Authenticate")
    sys.exit(-1)

In [2]:
#this function is used to clean tweet gather from twitter
def preprocessign(text):
    #Remove url from tweets
    text= " ".join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", text).split())
    #Remove emoji from tweet
    text=text.encode('ascii', 'ignore').decode('ascii')
    #convert tweet in lower case
    text = text.lower()
    #remove some special symobol
    text = re.sub('\[.*?\]', '', text)
    #remove puncutation mark
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    #remove word with digit
    text = re.sub('\w*\d\w*', '', text)
    return text

In [3]:
#search for this hashtage . You can write according requirement. You search any thing you want
searchQuery = "#COVID19 OR #lockdown OR #coronavirus OR #CoronavirusPandemic OR #covid_19"+ " -filter:retweets"   # this is what we're searching for
#maximum tweet you want to fetch
maxTweets = 10000000 
# this is the max the API permits
tweetsPerQry = 100  
#max limit of tweet unique id
max_id = -1
#fetched tweet count
tweetCount = 0
#min limit of tweet unique id
sinceId = 1282641096711958528
#heading of csv file
Heading=["Tweet_id","Tweet_date","Tweet_text","polarity","subjectivity","user_location","longitude","latitude","hashtags"]
i=1

In [7]:

#open file to write data
with open('new.csv', 'a', newline='',encoding="utf-8") as file:
    print("Reading Tweets....")
    #create object of writter
    writer = csv.writer(file)
    #write heading into file
    writer.writerow(Heading)
    #repeat untill tweetcount is less then maxtweet count
    while tweetCount < maxTweets:
            try:
                if (max_id <= 0):
                    if (not sinceId):
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry,tweet_mode="extended",lang="en")
                    else:
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry,
                                                since_id=sinceId,tweet_mode="extended",lang="en")
                else:
                    if (not sinceId):
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry,
                                                max_id=str(max_id - 1),tweet_mode="extended",lang="en")
                    else:
                        new_tweets = api.search(q=searchQuery, count=tweetsPerQry,
                                                max_id=str(max_id - 1),
                                                since_id=sinceId,tweet_mode="extended",lang="en")
                if not new_tweets:
                    print("No more tweets found")
                    break
                for tweet in new_tweets:
                    print(i)
                    i+=1
                    text=preprocessign(tweet.full_text)
                    user_location = preprocessign(tweet.user.location)
                    if tweet.place:
                        user_location=tweet.place.country.lower();
                    if type(user_location) == str:
                        user_location=preprocessign(user_location)
                    longitude = None
                    latitude = None
                    hashtag=[i['text'].lower() for i in tweet.entities['hashtags']]
                    if tweet.coordinates:
                        longitude = tweet.coordinates['coordinates'][0]
                        latitude = tweet.coordinates['coordinates'][1]
                    sentiment = TextBlob(text).sentiment
                    writer.writerow([tweet.id_str,tweet.created_at,text,sentiment.polarity,sentiment.subjectivity,user_location,longitude,latitude,hashtag])
                tweetCount += len(new_tweets)
                max_id = new_tweets[-1].id
            except tweepy.TweepError as e:
                # Just exit if any error
                print("some error : " + str(e))
                break
print("Tweets save in filename.csv")
print(max_id)

Reading Tweets....
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
some error : Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out.
Tweets save in filename.csv
1283006762392653827

In [8]:
import pandas as pd
tweets=pd.read_csv('new.csv')

In [9]:
tweets

,Tweet_id,Tweet_date,Tweet_text,polarity,subjectivity,user_location,longitude,latitude,hashtags
0,1283008340679852033,2020-07-14 12:00:00,a key difference between sydney and melbournes...,0.000000,0.875000,australia,NaN,NaN,['covid19']
1,1283008340642144257,2020-07-14 12:00:00,people often underestimate those living with d...,0.245455,0.451515,nottingham,NaN,NaN,['lockdown']
2,1283008339430068224,2020-07-14 11:59:59,what is it exactly about wearing a face mask t...,0.250000,0.250000,south east by the sea england,NaN,NaN,"['facemask', 'facemasks', 'covid19', 'coronavi..."
3,1283008338305916928,2020-07-14 11:59:59,garen staglin coauthors forbes blogpost stress...,0.000000,0.000000,park avenue floornew york ny,NaN,NaN,"['diversity', 'covid19', 'mentalhealth', 'lgbt..."
4,1283008337341296640,2020-07-14 11:59:59,there is growing evidence that airpollution co...,0.250000,0.250000,uk,NaN,NaN,"['airpollution', 'covid19', 'iaq']"
...,...,...,...,...,...,...,...,...,...
495,1283006766398214147,2020-07-14 11:53:44,truth is out there,0.000000,0.000000,ecuador,NaN,NaN,"['budesonida', 'budesonide', 'silverbullet', '..."
496,1283006765735350272,2020-07-14 11:53:44,experts call for australia to replace coronavi...,0.000000,0.000000,offices melbourne canberra,NaN,NaN,"['experts', 'australia', 'coronavirus', 'strat..."
497,1283006764129021952,2020-07-14 11:53:44,calcutta hc orders postmortem of an boy who h...,0.000000,0.022222,india,NaN,NaN,"['calcutta', 'covid19']"
498,1283006762413481985,2020-07-14 11:53:43,its not jst some important people getting coro...,0.433333,0.833333,india,NaN,NaN,"['corona', 'biharfightscorona', 'covid_19', 'i..."
499,1283006762392653827,2020-07-14 11:53:43,help slow the spread of and identify at risk ...,-0.150000,0.200000,bristol england,NaN,NaN,['covid19']